.Table3 {
    position: absolute;
    width: 1500px;
    height: 718px;
    left: 340px;
    top: 245px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

.red {
    color: red;
}

.green {
    color: green;
}

thead[class*="ant-table-thead"] th {
    background-color: #EAF5FA !important;
    padding: 10px 10px 10px 10px;
    color: #1085C5;
    border: none;
}