.QTC_Update2 {
    position: absolute;
    width: 1500px;
    height: 650px;
    left: 340px;
    top: 150px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

thead[class*="ant-table-thead"] th {
    background-color: #EAF5FA !important;
    padding: 10px 10px 10px 10px;
    color: #1085C5;
    border: none;
}

.switch {
    left: 70px;
    top: 25px;
    position: absolute;
}

.capnhat1 {
    color: #347AFF;
}

.xoa {
    color: #FF5B5B;
}

.tenquyentruycap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 416px;
    height: 238px;
    /* White */
    background: #FFFFFF;
    /* Grey/3 */
    border: 1px solid #DEE1E2;
    box-sizing: border-box;
    border-radius: 16px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.TQTCtext {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 24px;
    top: 24px;
    /* 16 Bold */
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Blue/7 */
    color: #114A69;
    opacity: 0.8;
}

.TQTCbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 24px 13px 16px;
    position: absolute;
    width: 368px;
    height: 44px;
    left: 24px;
    top: 52px;
    /* White */
    background: #FFFFFF;
    /* Grey/4 */
    border: 1px solid #ACBCD1;
    box-sizing: border-box;
    border-radius: 8px;
}

.ngoisao1 {
    position: absolute;
    color: red;
    left: 175px;
    top: 20px;
}

.trangthaitext {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 24px;
    top: 24px;
    /* 16 Bold */
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Blue/7 */
    color: #114A69;
    opacity: 0.8;
}

.trangthai {
    position: absolute;
    margin-top: -60px;
    margin-left: -46px;
}

.checkbox1 {
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
}

.dkh2 {
    position: absolute;
    width: 82px;
    height: 20px;
    left: 60px;
    top: 53px;
    /* Text/14 regular */
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    display: flex;
    align-items: center;
    /* Blue/8 */
    color: #091F3A;
    opacity: 0.8;
}

.ngoisao2 {
    position: absolute;
    color: red;
    left: 250px;
    top: 220px;
}

.ttngoisao {
    position: absolute;
    width: 368.28px;
    height: 18px;
    left: 270px;
    top: 220px;
    /* 12 Semi */
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.005em;
}

.Table8 {
    position: absolute;
    width: 1045px;
    height: 523px;
    left: 450px;
    top: 10px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

.btnluu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 163px;
    height: 55px;
    left: 900px;
    top: 820px;
    background: #2190CD;
    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.btnluu1 {
    position: static;
    width: 99px;
    height: 23px;
    left: calc(50% - 99px/2);
    top: calc(50% - 23px/2);
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.btnhuy1 {
    position: static;
    width: 99px;
    height: 23px;
    left: calc(50% - 99px/2);
    top: calc(50% - 23px/2);
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.btnhuy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 163px;
    height: 55px;
    left: 1090px;
    top: 820px;
    background: #2190CD;
    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}