.tieude2 {
    position: static;
    width: 400px;
    height: 30px;
    margin-left: 103px;
    margin-top: -25px;
    /* 24 Extra Bold */
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    /* Blue/8 */
    color: #091F3A;
    opacity: 0.8;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.QL {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #347AFF;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    width: 150px;
    height: 35px;
    margin-top: 5px;
}

.NDVQL {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
}

.DVQL {
    margin-left: 21px;
}

.LCB {
    margin-left: 190px;
    margin-top: -115px;
}

.LCBbox {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #347AFF;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    width: 300px;
    height: 35px;
    margin-top: 5px;
}

.LCBtext {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
}

.tt2 {
    margin-left: 500px;
    margin-top: -115px;
}

.ttbox {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #347AFF;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    width: 200px;
    height: 35px;
    margin-top: 5px;
}

.tttext {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
}

.boxtt {
    align-items: center;
    border-radius: 8px;
    border: 1px solid #347AFF;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    width: 200px;
    height: 35px;
    margin-top: 5px;
}

.ttname {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
}

.tt {
    margin-left: 990px;
    margin-top: -115px;
}

.time {
    margin-left: 1200px;
    margin-top: -87px;
}

.texttime {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
}

.search1 {
    position: absolute;
    margin-left: 410px;
    margin-top: -49px;
}

.down {
    position: absolute;
    margin-left: 315px;
    margin-top: -48px;
}

.down1 {
    position: absolute;
    margin-left: 179px;
    margin-top: -48px;
}

.btnxuatfile1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 180px;
    height: 35px;
    margin-left: 1340px;
    margin-top: -34px;
    background: #2190CD;
    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.btnxuatfile {
    position: static;
    width: 110px;
    height: 23px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 15px;
    margin-left: 6px;
}

.btntimkiem2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: absolute;
    width: 130px;
    height: 35px;
    margin-left: 875px;
    margin-top: -34px;
    background: #2190CD;
    border: 1px solid #2190CD;
    box-sizing: border-box;
    border-radius: 8px;
}

.btntennuttimkiem {
    position: static;
    width: 99px;
    height: 23px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 17px;
    margin-left: 60px;
}

.tieude1 {
    position: static;
    width: 64px;
    height: 20px;
    margin-left: 10px;
    /* 16 Extra Bold */
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    /* Grey/4 */
    color: #ACBCD1;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.muiten {
    position: absolute;
    margin-left: 84px;
    margin-top: -15px;
}

.time2 {
    margin-left: 710px;
    margin-top: -87px;
}