.Table2 {
    position: absolute;
    width: 1500px;
    height: 1090px;
    left: 340px;
    top: 235px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

.frames3 {
    width: 1450px;
    margin-top: 20px;
    margin-left: 20px;
}

thead[class*="ant-table-thead"] th {
    background-color: #EAF5FA !important;
    padding: 10px 10px 10px 10px;
    color: #1085C5;
    border: none;
}

.dakichhoat {
    left: 70px;
    top: 25px;
    position: absolute;
}

.thongtinsodong_PGD {
    position: absolute;
    top: 1050px;
    left: 22px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #114A69;
    opacity: 0.7;
    display: flex;
}

.sodongqpgd {
    border: 1px solid #6CB6DD;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px
}