.Table10 {
    position: absolute;
    width: 1500px;
    height: 1200px;
    left: 340px;
    top: 210px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

thead[class*="ant-table-thead"] th {
    background-color: #EAF5FA !important;
    padding: 10px 10px 10px 10px;
    color: #1085C5;
    border: none;
}

.switch {
    left: 70px;
    top: 25px;
    position: absolute;
}

.capnhat1 {
    color: #347AFF;
}

.xoa {
    color: #FF5B5B;
}