.Table4 {
    position: absolute;
    width: 1500px;
    height: 890px;
    left: 340px;
    top: 245px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

.botron {
    width: 1450px;
    margin-left: 20px;
    margin-top: 20px;
}

.red2 {
    color: red;
}

.green2 {
    color: green;
}