.TableQLCB {
    position: absolute;
    width: 1500px;
    height: 1145px;
    left: 340px;
    top: 200px;
    /* White */
    background: #FFFF;
    border-radius: 16px;
}

.frames2 {
    width: 1450px;
    margin-left: 23px;
    margin-top: 15px;
}

thead[class*="ant-table-thead"] th {
    background-color: #EAF5FA !important;
    padding: 10px 10px 10px 10px;
    color: #1085C5;
    border: none;
}

.thongtinsodong_QLCB {
    position: absolute;
    top: 1100px;
    left: 22px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #114A69;
    opacity: 0.7;
    display: flex;
}

.sodongqlcb {
    border: 1px solid #6CB6DD;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 5px;
    margin-left: 5px
}